*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 80%;
  max-width: 600px;
  margin: auto;
  font-size: 20px;
  font-family: sans-serif;
}

main {
  margin: 3rem auto;
  background: #fff;
  border-radius: 10px;
  text-align: center;
  padding: 2rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

main img {
  width: 30%;
  max-width: 100px;
  height: auto;
}

main h1 {
  padding: 0;
  margin: 1rem auto;
  font-size: 2.5rem;
  line-height: 2.5rem;
}

button, #tweet-btn {
  color: #fff;
  border: none;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: .3s;
}
button:hover, #tweet-btn:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#submit-btn {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px 20px;
  margin: 1rem auto 0 auto;
  background-color: #fff;
  background: linear-gradient(45deg, #E60012 12.5%, #F39800 25%, #FFF100 37.5%, #009944 50%, #0068B7 62.5%, #1D2088 75%, #920783 87.5%);
  background-size: 1500% 1500%;
  animation: gradation 3s ease infinite;
}

@keyframes gradation {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}

.rgb-area {
  margin: 0.5rem auto 1rem auto;
}

.rgb-area button {
  margin-top: 0.5rem;
  padding: 5px 10px;
  margin-top: 0.5rem;
}
.rgb-area #red-btn {
  border-radius: 8px 0 0 8px;
  background: #ff0000;
}
.rgb-area #green-btn {
  border-radius: 0;
  background: #00ff00;
}
.rgb-area #blue-btn {
  border-radius: 0 8px 8px 0;
  background: #0000ff;
}
.rgb-area #monotone {
  background: #000000;
}

#tweet-btn {
  display: inline-block;
  background: #1da1f2;
  padding: 5px 10px;
  margin: 1rem auto;
  text-decoration: none;
}

.footer {
  display: flex;
  justify-content: space-around;
  margin: 1rem auto 0 auto;
}
.footer a {
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}

.smp {display: none;}

@media screen and (max-width: 650px) {
  main h1 {
    font-size: 2rem;
    line-height: 2rem;
  }
  .smp {display: block;}
}
